body {
  line-height: 2em;
  font-size: 1em;
}
h1 {
  margin-top: 1.2em;
}
h2:not(.accordion-header) {
  margin-top: 1.8em;
}
h3 {
  margin-top: 1.5em;
}
h4 {
  margin-top: 1.3em;
}

/*トップページ アンカーリンクをクリックしたときに、固定ヘッダーに見出しが重なるのを防ぐ*/
.top-header {
  margin-top: -85px;
  padding-top: 140px;
}
